{{#if this.store.business}}
  {{#if (get this.store.business 0)}}
    {{#let (get this.store.business 0) as |business|}}
      <div class='business'>
        <div class='business-details'>
          <div>
            <h1>{{business.name}}</h1>
            <div class='business-categories'>
              {{#each business.categories as |category index|}}
                <div class='business-category'>
                  {{category.title}}
                </div>
                {{#if (not-eq category business.categories.lastObject)}}
                  <i class='bi bi-dot'></i>
                {{/if}}
              {{/each}}
            </div>
            <div class='business-address'>
              <i class='bi bi-building'></i>
              <h4>{{business.location.address1}},
                {{#if business.location.address2}}
                  {{business.location.address2}},
                {{/if}}
                {{business.location.city}},
                {{business.location.state}}
                {{business.location.zip_code}}</h4>
            </div>
            <div class='business-phone'>
              <i class='bi bi-telephone'></i>
              <h5>{{business.display_phone}}</h5>
            </div>

            <div class='business-reviews'>
              <div class='business-label'><h4>Rating:</h4></div>
              <div class='business-label'><h4>{{business.rating}}</h4></div>
              <i class='bi bi-star'></i>
              <div class='business-label'><h4
                >({{business.review_count}}&nbsp;Reviews)</h4></div>
            </div>
            <div class='business-price'>
              <div class='business-label'><h4
                >Price:&nbsp;{{business.price}}</h4></div>
            </div>
            <div class='business-open'>
              {{#if business.is_closed}}
                {{! Closed }}
                <span class='closed'>Closed</span>
              {{else}}
                {{! Open }}
                <span class='open'>Open</span>
              {{/if}}
              <i class='bi bi-dot'></i>
              <div class='business-distance'>
                {{to-miles business.distance}}&nbsp;miles&nbsp;away
              </div>
            </div>
          </div>
          <div class='btn-container-col'>
            <button
              type='button'
              class='btn primary save'
              {{action 'save' business}}
            >
              Save for Later
            </button>
            <button
              type='button'
              class='btn primary favorite'
              {{action 'favorite' business}}
            >
              Add to Favorites
            </button>
          </div>
        </div>
        <div class='business-image'>
          <img src='{{business.image_url}}' />
        </div>
      </div>
    {{/let}}
  {{else}}
    <h1>No results found!</h1>
  {{/if}}
{{else}}
  <h1>Search to get started!</h1>
{{/if}}